body {
    background-image: url("images/dictionary.png");
    background-color:rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    color:darkolivegreen;
    min-width: 500px;
    min-height: 500px;
    font-weight: 800;
    font-size: medium;
    overflow: scroll;
}

h1 {
    color:cadetblue;
}

ul {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}